.coverage-list-item {
  height: 2.5rem;
  padding: 0 0.8rem;

  & > fa {
    margin-right: 0.5rem;
  }

  .badge {
    padding: 0.5rem;
  }
}

.coverage-list-header {
  @extend .coverage-list-item;
  font-style: italic;
}
