<template #rtUser let-r="result" let-t="term">
  <div class="d-flex align-items-center">
    <div class="user-photo mr-2" [style]="safeStyle(r.urlPhoto)"></div>
    <span [innerHtml]="highlightTerm(r.name, t)"></span>
  </div>
</template>
<fa *ngIf="!inputVisible" name="plus" (click)="inputVisible = true"></fa>
<input
  *ngIf="inputVisible"
  type="text"
  placeholder="start typing to search for user"
  [ngModel]="user"
  [ngbTypeahead]="searchUsers"
  [resultTemplate]="rtUser"
  [inputFormatter]="formatUser"
  (selectItem)="selectUser.emit($event); inputVisible = initialState === 'input';"
  focus
/>
<fa *ngIf="inputVisible" name="users"></fa>