<template #rtUser let-r="result" let-t="term">
  <span [innerHtml]="highlightTerm(r.name, t)"></span>
</template>
<fa *ngIf="!inputVisible" name="plus" (click)="inputVisible = true"></fa>
<input
  *ngIf="inputVisible"
  type="text"
  placeholder="start typing to search for user"
  [ngModel]="user"
  [ngbTypeahead]="searchUsers"
  [resultTemplate]="rtUser"
  [inputFormatter]="formatUser"
  (selectItem)="selectUser.emit($event); inputVisible = initialState === 'input';"
  focus
/>
<fa *ngIf="inputVisible" name="users"></fa>